* {
  box-sizing: border-box;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 5px;
  border-radius: 2px;
  min-width: 100px;
  background-color: orange;
  color: white;
}